<section class="container">
  <h1>Welcome to home component</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus sunt reiciendis sed quae ipsa explicabo voluptates quo quasi, deleniti id modi amet reprehenderit quibusdam quia ab, nihil, libero impedit quam est maxime? Repudiandae accusantium nam magni autem vero totam corrupti quam consectetur expedita ullam optio voluptate maxime, minima eius.</p>
  <p [highlightText]>You can also use the following buttons to play around with the custom directive made which either hides or shows the section below based on the toggle value.</p>

  <div class="buttons-place">
    <button (click)="showHighlightedSection()" class="btn btn-orange show-button">Show</button>
    <button (click)="hideHighlightedSection()" class="btn hide btn-orange-outline hide-button">Hide</button>
  </div>
</section>

<section *showIf="!!(showHighlightedSection$ | async)" class="container purple-highlight">
  <p>Click the buttons in the section above to show or hide respectively.</p>
</section>
