<ng-container *ngIf="(user$ | async) as user">
  <h1 class="user-name">Hello {{ user | fullname }}</h1>
  <div class="container">
    <h2>Random shit</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, iste eveniet nobis dolor nisi tempore. Dolor dolores magni quae qui hic, sed repellendus aspernatur voluptatem veritatis dolorum cupiditate iure porro dicta! Vitae sit libero, unde non incidunt, tempore exercitationem velit voluptates repellendus nisi temporibus commodi corporis, pariatur deleniti? Cumque, cum.</p>
  </div>
</ng-container>
