.page-container {
  display: flex;
}


aside {
  height: 95vh;
  background: var(--accent);
  flex-basis: 20%;
}
ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
li {
  width: 100%;
  list-style: none;
  flex: 1;
  padding: 5rem;
  text-align: center;
}

li:hover {
  cursor: pointer;
  background: var(--black);
  color: var(--white);
  transition: ease-in-out 300ms;
}

li p {
  font-family: var(--font-raleway);
  text-transform: uppercase;
}

.user-data-container {
  padding: 3rem;
  flex-basis: 80%;
}
