@if ((users$ | async); as users) {
  @if (users.length > 0) {
    <div class="page-container">
      <aside>
        <ul class="user-list">
          @for(user of users; track user.id) {
            <li *showIf="!!(user)" class="user-item" (click)="goToUserPage(user)">
              <p class="user-button">{{ user | fullname }}</p>
            </li>
          }
        </ul>
      </aside>
      <div class="user-data-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  } @else {
    <p class="user-not-found-text">Please add users to see this page.</p>
  }
}
